img {
    height: 100%;
}

/* about_me */
.about_me_header {
    height: 100vh;
    padding: 100px 50px;
    background-color: var(--myblue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_photo {
    display: flex;
    justify-content: center;
    float: right;
    max-width: 400px;
    min-width: 300px;
    height: 800px;
    border-radius: 200px;
    overflow: hidden;
    margin-right: 100px;
}

.about_me_name p {
    color: var(--myyellow);
    display: block;
    width: 70%;
    margin-bottom: 12px;
    line-height: 1.5rem;
}

.about_me_name h1 {
    color: var(--myyellow);
    line-height: 3.5rem;
    margin-bottom: 20px;
}

.about_me_name h4 {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 15px;
    color: var(--myyellow);
    border-radius: 50px;
    border: 2px solid var(--myyellow);
    margin-bottom: 50px;
}

.about_me {
    width: 100%;
    padding: 20px 0 120px;
    background-color: var(--myyellow);
}

/* timeline */
.timeline ul {
    background: var(--myyellow);
    padding: 50px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 2px;
    margin: 0 auto;
    padding-top: 50px;
    background: var(--myblack);
}

/* .timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
} */

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    border-radius: 12px;
}

/* .timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
} */

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #f45b69;
}

.timeline strong {
    display: block;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--myblack);
}

.timeline p {
    display: block;
    margin-bottom: 8px;
    color: var(--myblack);
    line-height: 1.5rem;
}

/* EFFECTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: var(--myblack);
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

/* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }
    .timeline ul li div {
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #f45b69 transparent transparent;
    }
}

/* EXTRA/CLIP PATH STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
}

.timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
    bottom: 12px;
}

.timeline-star ul li::after {
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}

.timeline-heptagon ul li::after {
    clip-path: polygon(
        50% 0%,
        90% 20%,
        100% 60%,
        75% 100%,
        25% 100%,
        0% 60%,
        10% 20%
    );
}

.timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
    0% {
        transform: translateX(-50%) scale(1);
    }
    50% {
        transform: translateX(-50%) scale(1.25);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}
