:root {
    --mywhite: #EEEDE9;
    --myblack: #1a191a;
    --myblue: #0a34a2;
    --myred: #eb3f00;
    --myyellow: #efddd1;   
    font-family: "Noto Sans TC", sans-serif;
}

@font-face {
    font-family: Rosellinda;
    src: url(../font/Rosellinda\ Alyamore.otf);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 2rem;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.8rem;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5rem;
}


/* nav */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--myyellow);
    border-radius: 0.5rem;
    padding: 8px 60px;
    display: flex;
    align-items: center;
    z-index: 99;
}

.menu ul,
.icon {
    display: flex;
    justify-content: center;
}

.menu_txt {
    font-weight: 600;
    margin: 0 2rem;
    color: var(--myblue);
}

.menu_txt:hover {
    color: var(--myred);
}

.icon {
    display: flex;
    justify-content: end;
}

.icon a i {
    font-size: 1.2rem;
    color: var(--myblue);
}

.icon a i:hover {
    color: var(--myred);
}

.icon a:first-child {
    margin-right: 10px;
}