/* 左側內容 */
main .column.left,
main .column.right {
    background-color: var(--myyellow);
    display: block;
    position: relative;
    width: 100%;
    min-height: 0;
}

@media (min-width: 641px) {
    main .column.left,
    main .column.right {
        display: inline-block;
        width: 50%;
        min-height: 100vh;
    }
    main .column.left {
        position: fixed;
    }
    main .column.right {
        margin-left: 50%;
    }
}

/* 右側內容 */
.content {
    display: block;
    min-height: 100vh;
    max-width: 40rem;
    /* margin: 1.5rem auto; */
    padding: .5rem;
}

.content img {
    width: 100%;
}

@media (min-width: 641px) {
    .content {
        margin: 5.75rem auto;
        padding: 1.5rem;
    }
}

.content h1,
.content h2,
.content p {
    line-height: 1.5em;
    color: var(--myblack);
}

.content h1 {
    display: inline-block;
    font-size: 3.25rem;
    font-weight: 500;
    line-height: 5rem;
    margin-bottom: 10px;
}

@media (min-width: 641px) {
    .content h1 {
        font-size: 4rem;
    }
}

.content h2 {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.155rem;
}

.content span {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.155rem;
}

.content p {
    margin: 16px 0;
}
