

/* main */
/* home_page */
.home_page {
    position: relative;
    height: 100vh;
    background-color: var(--myyellow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vh;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-image: url(../img/myphoto.jpg);
    background-size: cover;
    background-position: 0 50;
    z-index: 1;
}

.home_content {
    width: 80%;
    text-align: center;
    position: relative;
    z-index: 2;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(100vh - 50px);
    z-index: 3;
}

/* about_me */
.about_me {
    width: 100%;
    padding: 20px 0 120px;
    background-color: var(--myyellow);
}

.about_content {
    padding: 50px 0;
}

.about_content h1 {
    margin-bottom: 60px;
    color: var(--myblack);
}

.about_content p {
    line-height: 1.5rem;
    color: var(--myblack);
}

.about_content .view_more {
    color: var(--myblack);
    float: right;
    text-decoration: solid;
    box-shadow: 0 2px rgba(0, 0, 0, 0);
    padding-bottom: 5px;
}

.about_content .view_more:hover {
    box-shadow: 0 2px var(--myblack);
    padding-bottom: 5px;
}