.tabset {
    margin: 80px 0 0 0;
}

.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}

.tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}

.tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    border-radius: 2px;
    background: var(--myblack);
}

input:focus-visible + label {
    outline: 2px solid var(--myblue);
    border-radius: 3px;
}

.tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
    color: var(--myblue);
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
    background: var(--myblue);
}

.tabset > input:checked + label {
    border-color: var(--myblack);
    margin-bottom: -2px;
}

.tab-panel {
    padding: 30px 0;
    border-top: 2px solid var(--myblack);
}

/* photo 頁面 */
.tab-panels > section > h2 {
    text-align: center;
    margin-bottom: 15px;
}
/* lightbox */
.lightbox-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.lightbox-gallery div {
    width: 20%;
    aspect-ratio: 1/1;
    overflow: hidden;
    /* border-radius: 50%; */
    margin: 20px;
}

.lightbox-gallery div > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.lightbox-gallery div > a > img {
    width: 100%;
    height: auto; 
    display: block;
    object-fit: cover;
    opacity: .8;
}

.lightbox-gallery div > a > img:hover {
    opacity: 1;
    transition: 0.5s;
} 

@media only screen and (max-width: 480px) {
    .lightbox-gallery {
        flex-direction: column;
        align-items: center;
    }

    .lightbox > div {
        margin-bottom: 10px;
    }
}

/* video 頁面 */
.video_container > div {
    border-bottom: 2px solid var(--myblack);
    padding: 15px 0;
}

.video_img {
    /* height: 100px; */
    aspect-ratio: 16/7;
}

.video_img img {
    width: 100%;
}