.tabset {
    margin: 80px 0 0 0;
}

.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}

.tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border-bottom: 0;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 600;
}

.tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    border-radius: 2px;
    background: var(--myblack);
}

input:focus-visible + label {
    outline: 2px solid var(--myblue);
    border-radius: 3px;
}

.tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
    color: var(--myblue);
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
    background: var(--myblue);
}

.tabset > input:checked + label {
    border-color: var(--myblack);
    margin-bottom: -2px;
}

.tab-panel {
    padding: 0 0 30px 0;
    border-top: 2px solid var(--myblack);
}

/* photo 頁面 */
.tab-panels > section > h2 {
    text-align: center;
    margin-bottom: 15px;
}
/* lightbox */
.lightbox-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.lightbox-gallery div {
    width: 20%;
    aspect-ratio: 1/1;
    overflow: hidden;
    /* border-radius: 50%; */
    margin: 20px;
}

.lightbox-gallery div > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.lightbox-gallery div > a > img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    opacity: 0.8;
}

.lightbox-gallery div > a > img:hover {
    opacity: 1;
    transition: 0.5s;
}

@media only screen and (max-width: 480px) {
    .lightbox-gallery {
        flex-direction: column;
        align-items: center;
    }

    .lightbox > div {
        margin-bottom: 10px;
    }
}

/* video 頁面與 design 頁面*/
.video_container,
.design_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.video_container > div,
.design_container > div {
    padding: 0 50px;
}

.video_tite .number,
.design_tite .number {
    font-family: Mavera;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
    margin-bottom: 200px;
    color: var(--myred);
}

.video_tite > h4,
.design_tite > h4 {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.video_tite > span,
.design_tite > span {
    display: block;
    font-size: 12px;
    margin-bottom: 1.5rem;
}

.video_img,
.design_img {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.video_img img,
.design_img img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

#video_hover1,
#video_hover2,
#video_hover3,
#design_hover1,
#design_hover2,
#design_hover3 {
    display: flex;
    align-items: center;
    position: fixed;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 15px;
    color: var(--myyellow);
    border-radius: 30px;
    background: var(--myblack);
    opacity: 0; /* 初始隱藏 */
    transition: opacity 0.2s;
}

#video_hover1 p,
#video_hover2 p,
#video_hover3 p,
#design_hover1 p,
#design_hover2 p,
#design_hover3 p {
    margin-right: 8px;
}

.video_container > div > a:hover #video_hover1,
.video_container > div > a:hover #video_hover2,
.video_container > div > a:hover #video_hover3,
.design_container > div > a:hover #design_hover1,
.design_container > div > a:hover #design_hover2,
.design_container > div > a:hover #design_hover3 {
    opacity: 1;
}