.project {
    width: 100%;
    background-color: var(--myyellow);
}

.project_container {
    padding: 60px 0;
}

.project_container h1 {
    margin-top: 60px;
    color: var(--myblack);
    margin-bottom: 60px;
}

.navs {
    display: flex;
}

.nav-item {
    padding: 10px;
    cursor: pointer;
}

.nav-item.active {
    text-decoration: underline;
}

.tabs .tab-content {
    display: none;
}

.tabs .tab-content.active {
    display: block;
}

.design,
.photography,
.film {
    position: relative;
    display: flex;
    height: 50vh;
    padding: 30px 0;
    border-bottom: 3px solid var(--myblue);
}

.design {
    border-top: 3px solid var(--myblue);
}

.film {
    border-bottom: 3px solid var(--myblue);
}

.project_content .project_title h1 {
    color: var(--myblue);
}

.project_content .view_more i {
    font-size: 24px;
}

/* footer */
.footer {
    background-color: var(--myblue);
}

.personal {
    display: flex;
    align-items: flex-end;
    padding: 60px 0;
}

.personal h4,
.personal p,
.personal i {
    color: var(--myyellow);
}

.personal i.fa-twitter,
.personal i.fa-github {
    margin-right: 10px;
}

.personal .copyright {
    display: flex;
    justify-content: center;
}
